:root {
  --primary-color: #82B1FF;

  /* Grayscale */
  --grayscale-1000: #252525;
  --grayscale-800: #818181;
  --grayscale-600: #AAA9A9;
  --grayscale-400: #E3E3E2;
  --grayscale-200: #E0E0E0;
  --grayscale-100: #CBCBCB
  --grayscale-0: #ffffff;

  --primary-button-color: #F76E41;

  --color-warning: #F7CE74;
}

$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%; // 1rem = 16px

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--grayscale-1000);
  min-height: 100vh;
}
